.post {
    margin: 0.6rem 2rem;
    padding: 1.4rem 5rem;
    /* background-color: ; */
    width: 100vw;
    overflow: auto;
}
h1 {
    font-size: 3rem;
}
h4 {
    font-size: 1.5rem;
}
pre {
    font-size: 1.2rem;
    margin: 2rem 0;
    width: 75vw;
    white-space: pre-line;
    
}